.container
  .jumbotron
    h1 Test1
    p Lorem Ipsum Dolor Si Amet etx

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")
